.side-bar {
    border-right: none;
}

.side-bar.homepage {
    height: initial;
}

aside {
    padding: 15px;
    padding-left: 50px;
    border: solid 1px;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    position: relative;
}

aside.notice {
    border-color: white;
}

.notice::before {
    content: "🛈";
    font-size: large;
    font-weight: bold;
    color: #ff4612;
    margin-right: 6px;
    position: absolute;
    top: 15px;
    left: 15px;
}

/** Parameters table */
/*********************/

td, th {
    border-left: none;
    vertical-align: top;
    text-align: left;
}

.table-wrapper .table-wrapper {
    box-shadow: none;
}

.paramName {
    color: #ff4612;
    font-weight: bold;
}

.paramReq {
    color: gray;
    font-style: italic;
    text-transform: uppercase;
}

.paramType {
    color: black;
    border: 1px solid gray;
    padding: 1px 2px; 
    border-radius: 4px;
    font-size: smaller;
    text-transform: lowercase;
}

/** Homepage */
/*************/

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.service {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    text-align: center;
    border: solid 2px rgba(235, 237, 245, 0.8);
    border-radius: 8px;
    padding: 15px;
    color: #5c5962;    
    height: 275px;
    position: relative;
}

a.service {
    white-space: normal;
    background-image: none;
}

.service:hover {
    background-color: rgba(235, 237, 245, 0.8);
}

:not(a).service:hover p {
    display: none;
}

.service .docLinks {
    display: none;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.service:hover .docLinks {
    display: flex;
}

.service img {
    position: absolute;
    bottom: 15px;
}

/** Big table */
/**************/

.bigtable .site-header {
    position: absolute;
    z-index: 10;
}

.bigtable #main-header {
    margin-left: 264px;
}

.bigtable #site-nav {
    position: absolute;
    z-index: 10;
}

.bigtable .main {
    display: inline;
}

.bigtable h1 {
    width: calc( min(1024px, (100% - 264px)));
    margin-left: calc( max(((100% - 1024px) / 2), 264px)); 
}

.bigtable p {
    width: calc( min(1024px, (100% - 264px)));
    margin-left: calc( max(((100% - 1024px) / 2), 264px)); 
}

.bigtable aside {
    width: calc( min(1024px, (100% - 264px)));
    margin-left: calc( max(((100% - 1024px) / 2), 264px));
}

.bigtable .table-wrapper {
    overflow: visible;
}

.bigtable tr:nth-child(odd) td {
    background: #fcf3f0;
}

@media screen and (max-width: 50rem) {
    .bigtable h1 {
        margin-left: 10px;
        width: calc( 100% - 20px);
    }
    
    .bigtable p {
        margin-left: 10px;
        width: calc( 100% - 20px);
    }
    
    .bigtable aside {
        margin-left: 10px;
        width: calc( 100% - 20px);
    }    
}